.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    /* box-sizing: border-box; */
}

.nav-wrapper{
  display: 
  justify-content: space-evenly;
  padding: 10px;
  background-color: #EDF5E1;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
 }

.logo {
  display: flex;
  float: left;
  margin-left: 40px;
  margin-right: 20px;
  font-family: 'Fjalla One', sans-serif;
  color: #19181A;
  }

.navigation {
  display: flex;
  float: right;
  }

.nav-wrapper > .navigation > div {
  margin-right: 20px;
  font-family: 'Fjalla One', sans-serif;
  color: #19181A;
}

.socials-wrapper{
  display: flex;
  padding: 15px;
  background-color: #EDF5E1;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  color: #19181A;
  }

.nav-link-wrapper{
  
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  
}

.nav-link-wrapper a {
  color: #19181A;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid #19181A;

}

.nav-link-wrapper a:hover {
  color: 1px solid #19181A;
  
}

.content-container {
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #19181A;
  width: 100%;
  position: fixed;
  top: 40px;
  bottom: 35px;
  left: 0;
  right: 0;
}




.ava {
 width: 10%;
 vertical-align: middle;
 top: 0; bottom: 0;
 margin: auto;

}

.text {
 width: 80%;
 vertical-align: middle;
 color: #EDF5E1;
 top: 0; bottom: 0; left: 20px;
 margin: auto;
 margin-left: 20px;
 font-family: 'Fjalla One', sans-serif;
 font-size: 70px;
 }

 .drie {
   width: 10%
 }


.profile-picture {
  border-radius: 50%;
  width: 100%;
  max-width: 180px;
  border: 1px solid #EDF5E1;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  length: 100%;
}

.about-left-1 {
  width: 60%;
}


.fill {
  width: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-image: url(/img/about.jpg);
  top: 0; bottom: 0;
  margin: auto;
}

.projects-left-1 {
  overflow: hidden; 
  padding: 10px;
  width: 60%;
  
  
}